<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title color="primary">All about MyMall</mat-card-title>
        <!-- <mat-card-subtitle>Deloitte stated that 78% of consumers expect online shopping to become more popular post-covid-19” 2021</mat-card-subtitle> -->
    </mat-card-header>
    <img mat-card-image src="https://lh3.googleusercontent.com/CeiH-JswDVmkxgXiLAdKfPZDEeF-nwMxV0v2wwxkJzH6yZ6Ufgu5UVz3HtB6rNiMzDFq7nkvvksCUowcedzpXXwwn7hTxERsAg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            Deloitte stated that 78% of consumers expect online shopping to become more popular post-covid-19” 2021
        </p>
        <p>
            CNBC mentioned 25% Of U.S malls are expected to shut within 5 Years” 2020. 
        </p>
        <p>
            Alexander Forbes “It’s The End Of The Mall As We Know It… (June 2017)”
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>