footer{
    background-color: rgb(79, 60, 139);
    padding: 20px;
    margin: 0;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}